
      


     /* ---- FOOTER ----  */

     .footer {
        position: relative;
        background-color: rgb(199, 194, 194);
        height: 120px;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        z-index: 100;
        width: 350px;
        box-shadow: .5px 3px 5px rgba(0, 0, 0, .2);
    }

    .footerContainer {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 15px;
        padding-right: 10px;
    }

    .input {
        width: 85%;
        height: 60%;
        margin-bottom: 8px;
        padding-left: 6%;
        border: none;
        font-size: 1.15em;
    }

    .input::placeholder {
        font-size: 1.15em;

    }

    .sendBtn {
        background-color: transparent;
        border: none;
        font-size: 3em;
        color: rgb(74, 92, 227);
        margin-bottom: 8px;
    }